<%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/detalle-del-producto.css" />
</head>

  <body>
    
<%- include('partials/header.ejs') %>
        <section>
            <div class="nombre-del-producto">
            <h3 class="nombre-del-producto"><%= products[productId].name %> </h3>
            </div>

        <div class="media_wrap">    
            <div class="imagen-producto">
            <img class="ver-producto" src="/images/our_products/<%= products[productId].image %> " alt="product-image">
            </div>
                <div>
                <article class="precio">Precio       $<%= products[productId].precio %></article>
                </div>
    
            <form method="POST" action="/">
                
                <label for="talles" class="titulo_talles">Selecciona el Talle</label>
                
                <div class="div-input">
                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="39" class="formulario_talle">
                        <label for="39">39</label>   <!--antes el for = "talles", se iguala con el id para unificar letras con circulo radio que esta con display none-->
                    </button>
                
                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="40" class="formulario_talle">
                        <label for="40">40</label> 
                    </button>
                
                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="41" class="formulario_talle">
                        <label for="41">41</label>
                    </button>

                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="42" class="formulario_talle">
                        <label for="42">42</label>
                    </button>
                
                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="43" class="formulario_talle">
                        <label for="43">43</label>
                    </button>
                
                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="44" class="formulario_talle">
                        <label for="44">44</label>
                    </button>
                
                    <button class="seleccion-talle">
                        <input type="radio" name="talle" id="45" class="formulario_talle">
                        <label for="45">45</label>
                    </button>
                </div>
            </form>
    
            <div class="buttons">
                <button type="submit" name="añadir" class="boton-agregar"><a href="#">Añadir al Carrito</a></button>
                <button type="submit" name="comprar"class="boton-comprar"><a href="#">Comprar Producto</a></button>
                <form action="/products/editar/<%= products[productId].id %>" method="GET">
                    <button type="submit" name="editar" class="boton-agregar">Editar este producto</button>
                </form>
                <form action="/products/borrar/<%= products[productId].id %>?_method=DELETE" method="POST">
                    <button type="submit" name="editar" class="boton-agregar">Borrar este producto</button>
                </form>
            </div>
    
            <div class="div-descripcion">
                <h3 class="descripcion">
                    Descripción del producto:  
                </h3>
                <p>
                    <%= products[productId].description %>
                </p>
            </div>

        </div>
        </section>    

    <%- include('partials/footer') %>

    
</body>

</html>