<%- include('partials/head.ejs') %>
<head>
  <link rel="stylesheet" href="/css/formProduct.css" />
</head>
<body>
  <%- include('partials/header.ejs') %>
  <main>
    <h1>EDITANDO <%= products[productId].name %></h1>
    <form
      action="/products/editar?_method=PUT"
      method="post"
      class="flex-container"
    >
      <input type="text" value="" class="input-text" />
      <input type="text" placeholder="Description" class="input-text" />
      <input type="file" name="image" id="" />
      <label for="categoria">Categoría</label>
      <div class="categoria-checkbox">
        <label for="1">categoria 1</label>
        <input type="checkbox" name="categoria" id="1" />
        <label for="1">categoria 2</label>
        <input type="checkbox" name="categoria" id="2" />
        <label for="1">categoria 3</label>
        <input type="checkbox" name="categoria" id="3" />
        <label for="1">categoria 4</label>
        <input type="checkbox" name="categoria" id="4" />
      </div>

      <label for="talla">Talla</label>
      <select name="talla" id="talla">
        <% for (let i = 35; i <= 42; i++) { %>
        <option value="<%= i %> "><%= i %></option>
        <% } %>
      </select>
      <label for="precio">$<%= products[productId] %> </label>
      <input type="number" name="precio" id="precio" class="input-text" />
      <input type="submit" value="Editar" />
    </form>
    <div class="item-existe">
      <h3>Editar item existente</h3>
      <form action="/products/editar" method="GET">
        <button type="submit" class="editar-button">Guardar cambios</button>
      </form>
    </div>
  </main>
</body>
