<%- include('partials/head.ejs') %>
<head>    <link rel="stylesheet" href="/css/home.css" />
</head>

  <body>
    
<%- include('partials/header.ejs') %>

    <main>
      <section class="home-carousel">
        <div class="carousel">Carousel</div>
      </section>
    </main>

    <section class="section-products">
      <h2>NUESTOS PRODUCTOS</h2>
      <div class="our-products">
        <% for (let i = 0; i < products.length; i++) { %>
          <a href="/products/<%= products[i].id %>">
             <article class="product">
            <img src="\images\our_products\<%= products[i].image %> " alt="producto1"  >
            <form action="/products/<%= products[i].id %>" method="GET">
              <button type="submit"> IR A VERLO<i class="fas fa-arrow-right"></i></a></button>
            </form>
          </article>
        </a>
        <% } %> 
           
        <!-- Agregar todas las imagenes de productos y hacer que la imagen ser un boton, eliminar el boton -->
        
        
      </div>
    </section>
    
    

<%- include('partials/footer') %>
    
  </body>
</html>