<%- include('partials/head.ejs') %>
<head>    
  <link rel="stylesheet" href="/css/searchProducts.css" />
</head>

<%- include('partials/header.ejs') %>
  <body>
      <main>
        <h1>Productos encontrados</h1>   
        
        <div class="our-products">
        <% for (let i = 0; i < products.length; i++) { %>
            <a href="/products/detail/<%= products[i].idproducto %>">
               <article class="product">
              <img src="/images/our_products/<%= products[i].image %> " alt="producto1"  >
              <form action="/products/detail/<%= products[i].idproducto %>" method="GET">
                <button type="submit"> IR A VERLO<i class="fas fa-arrow-right"></i></a></button>
              </form>
            </article>
          </a>
          <% } %>
        </div>
      </main>
      
      <%- include('partials/footer') %>      
</body>
</html>